<ActionBar title="" class="titulo">
    <ActionItem text="Mensajes" (tap)="listenerTable()"></ActionItem>
    <NavigationButton icon="res://menu"  (tap)="toggleit()" class="menu"></NavigationButton>
</ActionBar>

<StackLayout class="form">
    <ListView [items]="mockChat">
        <template let-item="item" let-i="index" let-odd="odd" let-even="event">
            <StackLayout class="listadoChat">
                <Label class="labelListadoChat" (tap)="elegirChat(item.id)" [text]="item.nombre"></Label>
            </StackLayout>
        </template>
    </ListView>
</StackLayout>
